{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}

<div class="mb-3"> 
    {% if session.price.excl_tax == 0 %}
        <var class="price h4">{% trans "Free" %}</var>
    {% elif session.price.is_tax_known %}
        <var class="price h4">{{ session.price.incl_tax|currency:session.price.currency }}</var>
    {% else %}
        <span class="text-muted">{{ session.price.excl_tax|currency:session.price.currency }}</span>
    {% endif %}
{% else %}
    <var class="price h4">&nbsp;</var>
    </div> <!-- price-detail-wrap .// -->
{% endif %}
{% if session.price.exists %}
<p class="{{ session.availability.code }} availability">
    {% if session.availability.is_available_to_buy %}
        <i class="fas fa-check-circle"></i>
    {% else %}
        <i class="fas fa-ban"></i>
    {% endif %}
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
{% else %}
    <i class="fas fa-ban"></i>
    {% trans 'Unavailable' %}
{% endif %}
