{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load image_tags %}
{% load i18n %}

<div class="box">
<!-- itemside // -->
{% if request.basket.num_lines %}
{% for line in request.basket.all_lines %}
<div class="itemside mb-3">
	<div class="aside">
    {% with image=line.product.primary_image %}
        {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
    <img src="{{ thumb.url }}" class="img-xs" alt="{{ line.product.get_title }}">
    {% endwith %}
    </div>
	<div class="info">
		<p>{{ line.description }} </p>
	</div>
</div><!-- itemside // -->
{% endfor %}

<div class="btn-group" role="group">
<button type="button" class="btn btn-outline-primary active">
<a href="{% url 'basket:summary' %}">{% trans "View basket" %}</a>
</button>
<button type="button" class="btn btn-outline-primary">Pirkti</button>
</div>
    {% else %}
    <div class="itemside">
	    <div class="info">
		    <p>{% trans "Your basket is empty." %}</p> 
        </div>
    </div>    
    {% endif %}
</div><!-- itemside // -->